html,
body{
    height:100%;
    font-size:larger;
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(63, 56, 56);
    color:white
}

.gradient{
    background: rgb(131,58,180);
    background: linear-gradient(71deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 64%, rgba(252,176,69,1) 100%);
}
.page-header{
    margin: top 4rem; 
    font-size: larger;

}

.feature{
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
}
.feature ul {
    padding-left: 2rem;
    list-style-type: square;
}
.feature ul li{
    padding-left: 2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem ;
}

